div#main-wrapper
  section#pageSection
    .section#sec1
      .container-wrapper
        .container
          .row
            .col-xs-12.col-center
              h2 PICK YOUR LUCKY NUMBER!
              h1 IS LOTTO JS

              




    .section#sec2    div2
    .section#sec3   div3
    .section#sec4    div4